/* colors for portfolio
light brown : #CEB8A1;
green: #3F8881;
racing green: #123644;
red: #D94D3C;
bright pink: #EF806C;
*/

body {
  font-family: 'Montserrat', sans-serif;
}

.section {
  padding: 100px 0;
}

.slider-dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.slider-main-text-area {
  color: #fff;
  height: 250px;
  margin-top: -125px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 10;
}

.slider-main-text-heading {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 7px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-main-text-sub-heading {
  font-size: 30px;
}

/* ABOUT SECTION */

.about-section-image {
  max-width: 100%;
}

/* PORTFOLIO GRID */

.portfolio-section-grid-filter-labels a {
  border: 1px solid #bdc3c7;
  color: #bdc3c7;
  display: block;
  padding: 10px 18px;
}

.portfolio-section-grid-filter-labels li {
  display: inline-block;
  padding: 5px;
}

.portfolio-section-grid-filter-labels .current {
  background-color: #f3e061;
  border-color: #f3e061;
  color: #41423f;
}

/* FOOTER SECTION */

.footer-section {
  padding: 50px 0;
}

.social-icons i {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 18px;
}

.social-icons i:hover {
  color: #f3e061;
  font-size: 1.3rem;
}
