/* colors for portfolio
light brown : #CEB8A1;
green: #3F8881;
racing green: #123644;
red: #D94D3C;
bright pink: #EF806C;
*/

body {
  font-family: 'Montserrat', sans-serif;
}

.section {
  padding: 100px 0;
}

.slider-dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.slider-main-text-area {
  color: #fff;
  height: 250px;
  margin-top: -125px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 10;
}

.slider-main-text-heading {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 7px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-main-text-sub-heading {
  font-size: 30px;
}
